<div class="all_comments">
  <div style="visibility: hidden" data-quiz-id="<%= @quiz.id %>" id="quiz-id"></div>
  <% if comment.parent_comment_id.blank? %>
    <div class="row mt-4">
      <div class="col-xs-1 pt-1 mr-2">
        <% if comment.user.profile_photo.present? %>
          <%= image_tag comment.user.profile_photo, class: 'profile-icon' %>
        <% else %>
          <%= image_tag 'default_profile.png', height: '60px' %>
        <% end %>
      </div>
      <div class="col-xs-11">
        <b><%= comment.user.full_name %></b>
        <%= comment.data %>
        <%= link_to_add_comment 'Reply', @quiz, comment %>
        <% comment.child_comments.published.each do |child_comment| %>
          <div class="row">
            <div class="col-xs-1 pt-1 mr-2">
              <% if child_comment.user.profile_photo.present? %>
                <%= image_tag child_comment.user.profile_photo, class: 'profile-icon' %>
              <% else %>
                <%= image_tag 'default_profile.png', height: '50px' %>
              <% end %>
            </div>
            <div class="col-xs-11">
              <b><%= child_comment.user.full_name %></b>
              <%= child_comment.data %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
