<fieldset>
  <div class="card pl-2 w-50">
    <% if object.persisted? %>
      <p><%= object.question.description %></p>
    <% else %>
      <div class="field">
        <%= f.select :question_id, Question.active.pluck(:description, :id), include_blank: true %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
  </div>
  <% if object.new_record? %>
    <%= link_to "Remove Option", '#', class: "remove_fields", data: {id: object.object_id} %>
  <% end %>
</fieldset>
