<tr class="h-50 body-row">
  <td><%= question.title %></td>
  <td><%= question.description %></td>
  <td><%= question.score %></td>
  <td>
    <%= link_to 'show', admin_question_path(question),  class: 'btn btn-secondary' %>
    <%= link_to '&#x270D;'.html_safe, edit_admin_question_path(question), class: 'btn btn-info', title: 'edit' %>
    <%= button_to '&#x2716;'.html_safe, admin_question_path(question), method: :delete, class: 'btn btn-danger', title: 'delete' %>
    <% if question.active? %>
      <%= button_to 'inactivate', inactivate_admin_question_path(question), method: :patch, class: 'btn btn-default border border-dark', title: 'inactivate' %>
    <% else %>
      <%= button_to 'activate', activate_admin_question_path(question), method: :patch, class: 'btn btn-default border border-dark', title: 'activate' %>
    <% end %>
  </td>
</tr>
