<tr class="h-50 body-row">
  <td><%= question.title %></td>
  <td><%= question.description %></td>
  <td><%= question.score %></td>
  <td>
    <%= link_to image_tag('view.png'), admin_question_path(question) %>
    <%= link_to image_tag('edit.png'), edit_admin_question_path(question), title: 'edit' %>
    <%= button_to image_tag('delete.png'), admin_question_path(question), method: :delete, class: 'border-0 bg-transparent', title: 'delete' %>
    <% if question.active? %>
      <%= button_to 'inactivate', inactivate_admin_question_path(question), method: :patch, class: 'btn btn-default border border-dark', title: 'inactivate' %>
    <% else %>
      <%= button_to 'activate', activate_admin_question_path(question), method: :patch, class: 'btn btn-default border border-dark', title: 'activate' %>
    <% end %>
  </td>
</tr>
