<%= render 'shared/errors', model: user %>
<div class="form ml-2">
  <%= form_with model: [:admin, user] do |form| %>
    <div class="field">
      <%= form.text_field :first_name, placeholder: 'First name', class: 'form-input' %>
    </div>
    <div class="field">
      <%= form.text_field :last_name, placeholder: 'Last name', class: 'form-input' %>
    </div>
    <div class="field">
      <%= form.email_field :email, placeholder: 'Email', class: 'form-input' %>
    </div>
    <div class="field">
      <%= form.password_field :password, placeholder: 'Password', class: 'form-input' %>
    </div>
    <div class="field">
      <%= form.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-input' %>
    </div>
    <div class="field">
      <%= form.select :role, [:participant, :admin], include_blank: 'Select role' %>
    </div>
    <div class="field action">
      <%= form.submit class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
