<!DOCTYPE html>
<html>
  <head>
    <title>Quizathon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "add_option" %>
    <%= javascript_import_module_tag "dropdown" %>
    <%= javascript_import_module_tag "timer" %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <div class='container-fluid float-left'>
      <div class="row">
        <div class="col-md-12 no-float pl-0 pr-0">
          <%= render 'shared/navbar' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 no-float pl-0 pr-0">
          <%= render 'shared/flash' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 no-float pl-0 pr-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
