<!DOCTYPE html>
<html>
  <head>
    <title>Quizathon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class='container-fluid float-left'>
      <p class="notice"><%= notice %></p>
      <% if alert %>
        <div class="alert alert-warning text-center"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
