<div class="profile">
  <h2 class="card-header bg-dark text-light">My Profile</h2>
  <table class="table">
    <tbody>
      <tr>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <td class="col-sm-2">
            <div class="profile-container mr-0 mb-2">
              <% if resource.profile_photo.present? %>
                <%= image_tag resource.profile_photo, class: "profileImage" %>
              <% else %>
                <%= image_tag "default_profile.png", class: "profileImage" %>
              <% end %>
            </div>
            <%= f.file_field :profile_photo, placeholder: 'Photo', direct_upload: true, capture: true, class: 'ml-2' %>
          </td>
          <td class="col-sm-10">
            <div class="edit-form">
              <%= render "users/shared/error_messages", resource: resource %>
              <div class="field">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, autofocus: true %>
              </div>
              <div class="field">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, autofocus: true %>
              </div>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, disabled: true %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
              <div class="actions">
                <%= f.submit "Update", class: 'btn btn-dark mt-1' %>
              </div>
            <% end %>
            <%= link_to "Back", :back %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
