<center>
  <div class="card" style="width: 20rem">
    <h2 class="card-header">Sign up</h2>
    <% controller.class == Admin::RegistrationsController ? url = admin_path : url = user_registration_path %>
    <%= form_for(resource, as: resource_name, url: url) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, required: true %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true  %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", required: true %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
      </div>
      <%= f.hidden_field :role, value: ( controller.class == Admin::RegistrationsController ? 'admin' : 'participant' ) %>
      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</center>
